<%- model_class = PrivateRealtyDemand -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:District) %></th>
      <th><%= model_class.human_attribute_name(:Street) %></th>
      <th><%= model_class.human_attribute_name(:Price) %></th>
      <th><%= model_class.human_attribute_name(:Count_of_rooms) %></th>
      <th><%= model_class.human_attribute_name(:Condition) %></th>
      <th><%= model_class.human_attribute_name(:Square) %></th>
      <th><%= model_class.human_attribute_name(:Type) %></th>
      <th><%= model_class.human_attribute_name(:Heating) %></th>
      <th><%= model_class.human_attribute_name(:Contacts) %></th>
      <th><%= model_class.human_attribute_name(:Buyer) %></th>
      <th><%= model_class.human_attribute_name(:Other) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @private_realty_demands.each do |private_realty_demand| %>
      <tr>
        <td><%= link_to private_realty_demand.id, private_realty_demand_path(private_realty_demand) %></td>
        <td><%= private_realty_demand.District %></td>
        <td><%= private_realty_demand.Street %></td>
        <td><%= private_realty_demand.Price %></td>
        <td><%= private_realty_demand.Count_of_rooms %></td>
        <td><%= private_realty_demand.Condition %></td>
        <td><%= private_realty_demand.Square %></td>
        <td><%= private_realty_demand.Type %></td>
        <td><%= private_realty_demand.Heating %></td>
        <td><%= private_realty_demand.Contacts %></td>
        <td><%= private_realty_demand.Buyer %></td>
        <td><%= private_realty_demand.Other %></td>
        <td><%=l private_realty_demand.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_private_realty_demand_path(private_realty_demand), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      private_realty_demand_path(private_realty_demand),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_private_realty_demand_path,
            :class => 'btn btn-primary' %>
